---
import Wrapper from "./wrapper.astro";
---

<header class="border-b border-zinc-700">
  <Wrapper>
    <div class="py-4">
      <a class="flex items-center" href="/">
        <img src="/logo.png" alt="logo" class="h-12 w-12" />
        <span class="text-xl font-semibold">Queuebase Docs</span>
      </a>
    </div>
    <div></div>
  </Wrapper>
</header>
