---
import Wrapper from "./wrapper.astro";
---

<header class="border-b border-zinc-700">
  <Wrapper>
    <div class="py-4 flex justify-between items-center">
      <a class="flex items-center" href="/">
        <img src="/logo.png" alt="logo" class="h-12 w-12" />
        <span class="text-xl font-semibold">Queuebase Docs</span>
      </a>
      <div>
        <a
          href="https://discord.gg/jWD24YE9bJ"
          target="_blank"
          rel="_noreferrer"
        >
          <img src="/discord.svg" alt="search" class="h-6 w-6" />
        </a>
      </div>
    </div>
  </Wrapper>
</header>
