<div
  class="prose-lg prose-headings:text-white flex-1 prose-headings:no-underline
  prose-h1:font-semibold prose-h1:text-4xl
  prose-h2:font-semibold prose-h2:pb-1 prose-h2:mt-10 prose-h2:border-b prose-h2:border-zinc-700 prose-h2:text-3xl
  prose-h3:font-semibold prose-h3:pb-1 prose-h3:mt-6 prose-h3:text-2xl
  prose-a:text-emerald-600
  prose-ul:pl-8 prose-ul:ml-4 prose-ul:space-y-2 prose-ul:list-disc
  prose-blockquote:italic prose-blockquote:text-zinc-400 prose-blockquote:border-l prose-blockquote:border-zinc-700 prose-blockquote:pl-4 prose-blockquote:ml-2 prose-blockquote:mt-4 prose-blockquote:mb-4"
>
  <slot />
</div>
